{% extends 'base_admin.html' %}

{% block sidebar %}
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'iadmin' %}">
          <i class="bi bi-grid"></i>
          <span>Menu</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Opções</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
       
          <li>
            <a href="{% url 'verturmas' %}">Ver Turmas no Sistema</a>
            </a>
          </li>
          <li>
            <a href="{% url 'ver_professores' %}">Ver Professores</a>
            </a>
          </li>
          <li>
            <a href="{% url 'encarregado_list' %}">Ver Encarregados</a>
            </a>
          </li>
          <li>
            <a href="{% url 'ver_alunos' %}">Ver Alunos</a>
            </a>
          </li>
          <li>
            <a href="{% url 'cadastrar_publicidade_comunicado' %}">Publicidade e Comunicado</a>
            </a>
          </li>
          <li>
            <a href="{% url 'cadastrar_horarios' %}">Cadastrar Horarios</a>
            </a>
          </li>
          <li>
            <li>
              <a href="{% url 'lista_adiciona_disciplinas' %}">Disciplinas</a>
              </a>
            </li>
            <li>
            <a href="{% url 'listar_licitacoes_pendentes' %}">Solicitação de pagamentos</a>
            </a>
          </li>
          <li>
            <a href="{% url 'feed_noticias' %}" class="btn btn-primary">
              <i class="bi bi-circle"></i><span>Ver Feed de Notícias</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav1" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Perfil</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
       
          <li>
            <a href="{% url 'edit_profile' %}">Editar Perfil</a>
            </a>
          </li>
          <li>
            
        </ul>
      </li><!-- End Components Nav -->
    </aside><!-- End Sidebar-->

{% endblock %}
{% block content %}

 <!-- Left side columns -->
 <div class="pagetitle">
    <h1>Gestor(a) {{ user.first_name }} {{ user.last_name }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Seja</a></li>
        <li class="breadcrumb-item active">Bem-Vindo</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->   
  <style>
    .info-card {
        min-height: 150px;
        margin-bottom: 20px;
        color: #fff;
    }
    .info-card .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .info-card .card-icon {
        font-size: 2rem;
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
    }
    .info-card .card-title {
        margin-bottom: 0;
    }
    .carousel-inner img {
        max-height: 400px;
        object-fit: cover;
    }
</style>
</head>
<body>

<section class="section dashboard">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <!-- Turmas Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card bg-primary">
                        <div class="card-body">
                            <h5 class="card-title">Número de Turmas</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people-fill"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{ numero_de_turmas }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Turmas Card -->
    
                <!-- Alunos Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card bg-success">
                        <div class="card-body">
                            <h5 class="card-title">Número de Alunos</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-person"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{ numero_de_alunos }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Alunos Card -->
    
                <!-- Professores Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card bg-warning">
                        <div class="card-body">
                            <h5 class="card-title">Número de Professores</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{ numero_de_professores }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Professores Card -->
    
                <!-- Encarregados Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card bg-info">
                        <div class="card-body">
                            <h5 class="card-title">Número de Encarregados</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-person-check"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{ numero_de_encarregados }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Encarregados Card -->

                <!-- Solicitações Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card {% if numero_de_solicitacoes > 0 %}bg-warning{% else %}bg-success{% endif %}">
                        <div class="card-body">
                            <h5 class="card-title">Número de Solicitações de Pagamentos Pendentes</h5>
                            {% if numero_de_solicitacoes > 0 %}
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ numero_de_solicitacoes }}</h6>
                                    </div>
                                </div>
                            {% else %}
                                <p class="card-text">Não há solicitações pendentes.</p>
                            {% endif %}
                        </div>
                    </div>
                </div><!-- End Solicitações Card -->
            </div><!-- End row -->
        </div><!-- End col-lg-8 -->
    </div>

    <div class="container mt-5">
      <div class="custom-card">
          <div class="custom-card-header">
              <h5 class="mb-0">
                  <a class="custom-btn-link" href="{% url 'cadastrar_horarios' %}">Cadastrar + Horarios</a>
                  </a>          
          </div>
          <div id="collapseHorarios" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="custom-card-body">
                  <table class="custom-table custom-table-bordered custom-table-hover custom-table-striped">
                      <thead class="custom-thead-dark">
                          <tr>
                              <th scope="col">Disciplina</th>
                              <th scope="col">Turma</th>
                              <th scope="col">Dia da Semana</th>
                              <th scope="col">Hora de Início</th>
                              <th scope="col">Hora de Término</th>
                              <th scope="col">Sala de Aula</th>
                              <th scope="col">Professor</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for horario in horarios %}
                          <tr>
                              <td>{{ horario.disciplina }}</td>
                              <td>{{ horario.turma }}</td>
                              <td>{{ horario.get_dia_semana_display }}</td>
                              <td>{{ horario.hora_inicio }}</td>
                              <td>{{ horario.hora_termino }}</td>
                              <td>{{ horario.sala_aula }}</td>
                              <td>{{ horario.professor }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  
  <style>
      .custom-card {
          border: 1px solid #dee2e6;
          border-radius: 0.25rem;
          margin-bottom: 1.5rem;
          background-color: #fff;
      }
      .custom-card-header {
          padding: 0.75rem 1.25rem;
          margin-bottom: 0;
          background-color: #f8f9fa;
          border-bottom: 1px solid #dee2e6;
      }
      .custom-btn-link {
          font-weight: bold;
          color: #007bff;
          text-decoration: none;
          background-color: transparent;
          border: none;
          padding: 0;
      }
      .custom-btn-link:hover {
          text-decoration: underline;
      }
      .custom-card-body {
          padding: 1.25rem;
      }
      .custom-table {
          width: 100%;
          margin-bottom: 1rem;
          color: #212529;
      }
      .custom-table-bordered {
          border: 1px solid #dee2e6;
      }
      .custom-table-hover tbody tr:hover {
          background-color: rgba(0, 0, 0, 0.075);
      }
      .custom-table-striped tbody tr:nth-of-type(odd) {
          background-color: rgba(0, 0, 0, 0.05);
      }
      .custom-thead-dark th {
          color: #fff;
          background-color: #343a40;
          border-color: #454d55;
      }
  </style>
  
  

    <hr>
    <div class="custom-card mt-4">
      <div class="custom-card-body">
          <h5 class="custom-card-title">Publicidade <span>| Escolar</span></h5>
          <!-- Slides with captions -->
          <div id="customCarouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
              <div class="carousel-inner">
                  {% for pub in publicidades %}
                  <div class="carousel-item{% if forloop.first %} active{% endif %}">
                      <img src="{{ pub.imagem.url }}" class="d-block w-100" alt="..." style="max-height: 400px; max-width: 800px; object-fit: cover;">
                      <div class="carousel-caption d-md-block">
                          <h5 class="custom-carousel-title">{{ pub.titulo }}</h5>
                          <p class="custom-carousel-content">{{ pub.conteudo }}</p>
                      </div>
                  </div>
                  {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#customCarouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#customCarouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div><!-- End Slides with captions -->
      </div>
  </div>
  
  <style>
      .custom-card {
          border-radius: 10px;
          overflow: hidden;
      }
      .custom-card-title {
          font-size: 1.5rem;
          color: #333;
          margin-bottom: 1rem;
          text-align: center;
      }
      .carousel-inner {
          position: relative;
      }
      .carousel-item {
          display: none;
          position: relative;
          transition: opacity 0.5s ease-in-out;
      }
      .carousel-item.active {
          display: block;
          opacity: 1;
      }
      .carousel-caption {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 20px;
          color: #fff;
      }
      .custom-carousel-title {
          font-size: 1.25rem;
          margin-bottom: 10px;
      }
      .custom-carousel-content {
          font-size: 1rem;
      }
      .carousel-control-prev, .carousel-control-next {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 10;
          background-color: rgba(255, 255, 255, 0.5);
          border: none;
          color: #333;
          font-size: 2rem;
      }
      .carousel-control-prev {
          left: 20px;
      }
      .carousel-control-next {
          right: 20px;
      }
      .carousel-control-prev-icon, .carousel-control-next-icon {
          width: 30px;
          height: 30px;
          background-size: cover;
      }
  </style>
  

<!-- Adicionando Bootstrap JS e dependências -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    // Ativar carrossel com auto-ride
    $('#customCarouselExampleCaptions').carousel({
        interval: 3000,
        ride: 'carousel'
    });
</script>


</section>

{% endblock %}
