{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LibroOrario</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={% static "assets/img/favicon.png" %} rel="icon">
  <link href={% static "assets/img/apple-touch-icon.png" %}    rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/boxicons/css/boxicons.min.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/quill/quill.snow.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/quill/quill.bubble.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/remixicon/remixicon.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/simple-datatables/style.css" %} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static "assets/css/style.css" %} rel="stylesheet">
  <style>
    /* Estilos para a seção de detalhes da aula */
.details-section {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.details-section .title {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.aula-details p {
  margin-bottom: 5px;
}

/* Estilos para a seção de detalhes da turma */
.turma-section {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.turma-section .title {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.turma-details p {
  margin-bottom: 5px;
}



  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'prof' %}" class="logo d-flex align-items-center">
        <img src={% static "assets/img/logo.png" %} alt="">
        <span class="d-none d-lg-block">LibroOrario</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">


        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/media/{{ user.foto }}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.first_name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.first_name}}</h6>
              <span>Professor</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'Perfilenc' % }">
                <i class="bi bi-person"></i>
                <span>Meu perfil</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}" data-toggle="modal" data-target="#logoutModal">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sair</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="bi bi-grid"></i>
          <span>Menu</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Turmas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
       
          <li>
            {% comment %} <a href="{% url 'estatisticas_turma' turma.id %}">
              <i class="bi bi-circle"></i><span>Ver Estatisticas da Turma</span>
            </a> {% endcomment %}
          </li>
          <li>
            
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Comunicados</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="forms-elements.html">
              <i class="bi bi-circle"></i><span>Fazer Uma Publicação</span>
            </a>
          </li>
          <li>
     
        </ul>
      </li><!-- End Forms Nav -->

     

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Aulas de {{ aula.disciplina.nome}}!</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Bem-Vindo Professor {{user.first_name}} {{user.last_name}}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div class="details-section">
      <h5 class="title">Detalhes da Aula</h5>
      <div class="aula-details">
          <p><strong>Tema:</strong> {{ aula.Tema }}</p>
          <p><strong>Objetivo:</strong> {{ aula.objectivo }}</p>
          <p><strong>Data:</strong> {{ aula.data }}</p>
      </div>
  </div>

  <div class="turma-section">
      <h5 class="title">Turma</h5>
      <div class="turma-details">
          <p><strong>Nome:</strong> {{ turma_aula.nome }}</p>
          <p><strong>Classe:</strong> {{ turma_aula.classe }}</p>
      </div>
  </div>
 
    <div>
      
  <!-- Adicione esta parte ao seu template -->

     <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" value="{{aula.Tema}}" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">
          </label>
          <textarea class="form-control" value="{{aula.objectivo}}" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
 </div>
 <hr>
    <br>
    <div class="container">
      <div class="row">
          <div class="col">
              <h1 class="display-4 text-center">Registrar Presenças</h1>
          </div>
      </div>
  </div>
  
 <div class="container">
  <div class="table-responsive" >
      <table class="table table-striped table-bordered" id="table">
          <thead class="table-dark">
              <tr>
                  <th scope="col">Nº</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Sexo</th>
                  <th scope="col">Lançar Nota</th>
                  <th scope="col">Acções</th>
                  <th scope="col">Estado</th>
              </tr>
          </thead>
          <tbody>
              {% for aluno in alunos_turma %}
              <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ aluno.nome }}</td>
                  <td>{{ aluno.sexo }}</td>
                  <td>
                      <button class="btn btn-primary">Lançar Nota</button>
                  </td>
                  <td>
                      <div class="btn-group" role="group" aria-label="Opções de Presença">
                        <form action="{% url 'registrar_presenca' aluno.id aula.id %}" method="post">
                          {% csrf_token %}

                          {% if aluno.Presenca %}
                          
                          <button type="submit" name="presenca" value="P" class="btn btn-success">Presente</button>
                          <button type="submit" name="presenca" value="A" class="btn btn-danger">Ausente</button>
                          <button type="button" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#atrasadoModal">Atrasado</button>
                          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#justificarModal">Justificar</button>
                          {% else %}
                          <button type="submit" name="presenca" value="P" class="btn btn-success" {% if aluno.Presente == True %}disabled{% endif %}>Presente</button>
                          <button type="submit" name="presenca" value="A" class="btn btn-danger" {% if aluno.Ausente == True %}disabled{% endif %}>Ausente</button>
                          <button type="button" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#atrasadoModal" {% if aluno.Atrasado == True %}disabled{% endif %}>Atrasado</button>
                          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#justificarModal" {% if aluno.Justificado == True %}disabled{% endif %}>Justificar</button>
                      
                          {% endif %}

</form>
                      
                         
                      </div>
                  </td>
                  <td>{{ aluno.Text }}</td>

              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div>
<div class="details-section">
  <h5 class="title">Aula Concluida??</h5>
  <div class="aula-details">
      <p><strong>Aula:</strong> {{ aula.disciplina.nome}}</p>
      <p><strong>Data:</strong> {{ aula.data }}</p>
      <div class="card">
        <a href="{% url 'finalizar_aula' aula.id %}" class="btn btn-warning" >Finalizar Aula</a>
    </div>
  </div>
</div>
<!-- Modal para registrar atraso -->
<div class="modal fade" id="atrasadoModal" tabindex="-1" aria-labelledby="atrasadoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="atrasadoModalLabel">Registrar Atraso de <span id="atrasadoNome"></span></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>O aluno <span id="atrasadoNome"></span> está atrasado.</p>
              <form id="atrasadoForm">
                  <!-- Campos para registrar o atraso -->
                  <div class="mb-3">
                      <label for="atrasadoTempo" class="form-label">Tempo de Atraso:</label>
                      <input type="text" class="form-control" id="atrasadoTempo" name="atrasadoTempo">
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary" onclick="registrarAtraso()">Salvar</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal para justificar ausência -->
<!-- Modal para justificar ausência -->
<div class="modal fade" id="justificarModal" tabindex="-1" aria-labelledby="justificarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="justificarModalLabel">Justificar Ausência de <span id="justificarNome"></span></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>O aluno <span id="justificarNome"></span> está ausente.</p>
              <form id="justificarForm">
                  <!-- Campos para justificar a ausência -->
                  <div class="mb-3">
                      <label for="justificarMotivo" class="form-label">Motivo da Ausência:</label>
                      <textarea class="form-control" id="justificarMotivo" name="justificarMotivo" rows="3"></textarea>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary" id="salvarJustificativa">Salvar</button>

          </div>
      </div>
  </div>
</div>

    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>LibroOrario</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://libroorario.netlify.app/">LibroOrario</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src={% static "assets/vendor/apexcharts/apexcharts.min.js" %}></script>
  <script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
  <script src={% static "assets/vendor/chart.js/chart.umd.js" %}></script>
  <script src={% static "assets/vendor/echarts/echarts.min.js" %}></script>
  <script src={% static "assets/vendor/quill/quill.min.js" %}></script>
  <script src={% static "assets/vendor/simple-datatables/simple-datatables.js" %}></script>
  <script src={% static "assets/vendor/tinymce/tinymce.min.js" %}></script>
  <script src={% static "assets/vendor/php-email-form/validate.js" %}></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <!-- Template Main JS File -->
  <script src={% static "assets/js/main.js" %}></script>
  <script>
    $(document).ready(function() {
        // Script para o botão "Presente"
        $('#btn-presente').click(function() {
            // Faz alguma ação específica, como abrir um modal ou exibir uma mensagem
            alert('Presença registrada com sucesso!');
            return false; // Evita o envio do formulário
        });

        // Script para o botão "Ausente"
        $('#btn-ausente').click(function() {
            // Faz alguma ação específica, como abrir um modal ou exibir uma mensagem
            alert('Ausência registrada com sucesso!');
            return false; // Evita o envio do formulário
        });
    });
</script>



  <script>
    function abrirModalAtrasado(nomeAluno) {
        // Exibir o nome do aluno no modal de atrasado
        document.getElementById('atrasadoNome').textContent = nomeAluno;
        // Abrir o modal de atrasado
        $('#atrasadoModal').modal('show');
    }

    function abrirModalJustificar(nomeAluno) {
        // Exibir o nome do aluno no modal de justificar
        document.getElementById('justificarNome').textContent = nomeAluno;
        // Abrir o modal de justificar
        $('#justificarModal').modal('show');
    }

    function registrarAtraso() {
        // Obter os dados do formulário de atraso
        var tempo = document.getElementById('atrasadoTempo').value;
        // Realizar ações para registrar o atraso (por exemplo, enviar para o backend)
        // Aqui você pode adicionar lógica para enviar os dados do atraso para o backend usando AJAX
        // Após o registro do atraso, feche o modal
        $('#atrasadoModal').modal('hide');
    }

    function justificarAusencia() {
        // Obter os dados do formulário de justificação
        var motivo = document.getElementById('justificarMotivo').value;
        // Realizar ações para justificar a ausência (por exemplo, enviar para o backend)
        // Aqui você pode adicionar lógica para enviar os dados da justificação para o backend usando AJAX
        // Após a justificação da ausência, feche o modal
        $('#justificarModal').modal('hide');
    }
</script>

  <script>

    const currentMonth = new Date().toLocaleString('pt-pt', { month: 'long' });
    document.getElementById('current-month').textContent = currentMonth;
    
    const currentMonthIndex = new Date().getMonth();
    const monthsLeft = 12 - currentMonthIndex - 1;
    document.getElementById('months-left').textContent = monthsLeft;
    
    const monthList = document.getElementById('month-list');
    for (let i = currentMonthIndex + 1; i < 12; i++) {
      const month = new Date(1900, i, 1).toLocaleString('pt-br', { month: 'long' });
      const listItem = document.createElement('li');
      listItem.textContent = month;
      monthList.appendChild(listItem);
    }
   
        $(document).ready(function () {
            $('#carouselExample').carousel();
        });

    
</script>

</body>

</html>

{% comment %} 
<div class="container-fluid">
    <div class="card-body">
      <h2>Turmas do Professor</h2>
      <div class="card-deck">
        {% for turma in professor.turmas_associadas.all %}
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ turma.nome }}</h5>
              <!-- Adicione mais informações da turma aqui, se necessário -->
              <a href="{% url 'detalhes_turma' turma.id %}" class="btn btn-primary">Detalhes</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <h2>Registrar Presença</h2>
  <form method="post" action="">
    {% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <th>Aluno</th>
          <th>Presença</th>
        </tr>
      </thead>
      <tbody>
        {% for aluno in turma.alunos.all %}
          <tr>
            <td>{{ aluno.nome }}</td>
            <td>
              <input type="checkbox" name="aluno_{{ aluno.id }}">
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Registrar Presenças</button>
  </form>
{% endblock %}

             {% endcomment %}



{% comment %} <div class="container-fluid">

<!-- /.container-fluid -->

</div> {% endcomment %}
