{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LibroOrario</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={% static "assets/img/favicon.png" %} rel="icon">
  <link href={% static "assets/img/apple-touch-icon.png" %}    rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/boxicons/css/boxicons.min.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/quill/quill.snow.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/quill/quill.bubble.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/remixicon/remixicon.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/simple-datatables/style.css" %} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static "assets/css/style.css" %} rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'prof' %}" class="logo d-flex align-items-center">
        <img src={% static "assets/img/logo.png" %} alt="">
        <span class="d-none d-lg-block">LibroOrario</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->



  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% static 'professor' %}">
          <i class="bi bi-grid"></i>
          <span>Menu</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Turmas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
       
          <li>
            <a href="{% url 'estatisticas_turma' turma.id %}">
              <i class="bi bi-circle"></i><span>Ver Estatisticas da Turma</span>
            </a>
          </li>
          <li>
            
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Comunicados</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="forms-elements.html">
              <i class="bi bi-circle"></i><span>Fazer Uma Publicação</span>
            </a>
          </li>
          <li>
     
        </ul>
      </li><!-- End Forms Nav -->

     

  </aside><!-- End Sidebar-->

  <main id="main" class="main">    
  
  <!-- Adicione esta parte ao seu template -->
  <div class="pagetitle">
    <h1>Professor(a) {{user.first_name}}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Seja</a></li>
        <li class="breadcrumb-item active">Bem-Vindo</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <h1>Detalhes da Turma: {{ turma.nome }}-{{turma.classe}}</h1>
  
 
    <div class="card">
      {% if horarios %}
      <div class="container">
          <h2>Horários da Turma {{ turma }}</h2>
          <table class="table">
              <thead>
                  <tr>
                      <th>Disciplina</th>
                      <th>Dia da Semana</th>
                      <th>Hora de Início</th>
                      <th>Hora de Término</th>
                      <th>Sala de Aula</th>
                  </tr>
              </thead>
              <tbody>
                  {% for horario in horarios %}
                  <tr>
                      <td>{{ horario.disciplina }}</td>
                      <td>{{ horario.dia_semana }}</td>
                      <td>{{ horario.hora_inicio }}</td>
                      <td>{{ horario.hora_termino }}</td>
                      <td>{{ horario.sala_aula }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      {% else %}
      <div class="container">
          <p>Não há horários disponíveis para esta turma.</p>
      </div>
      {% endif %}
        </div>
    

    
    <section class="section"> 
    <!-- DataTales Example -->
    <div class="card shadow mb-4">     
              <div class="table-responsive">
  
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                          <tr>
                              <th>Numro do Aluno</th>
                              <th>Nome do Aluno</th>
                              <th>Idade</th>
                              <th>Sexo</th>
                              <th>Encarregado</th>
                              <th>Numero</th>
                              <th>Detalhes</th>
                              <th>Lançar Nota</th>  <!-- Nova coluna para o botão de lançar nota -->
                          </tr>
                      </thead>
                      
                      <tbody>
                          {% for aluno in alunos_relacionados %}
                              <tr>
                                  <td>{{ aluno.id }}</td>
                                  <td>{{ aluno.nome }}</td>
                                  <td>{{ aluno.data_nascimento }}</td>
                                  <td>{{ aluno.sexo }}</td>
                                  <td>{{ aluno.encarregado_nome }}</td>
                                  <td>{{ aluno.encarregado_numero }}</td>
                                  <td>
                                      {% if aluno.id %}
                                          <a href="{% url 'detalhes_aluno' aluno.id %}">Detalhes do Aluno</a>
                                      {% else %}
                                          <p>ID do aluno inválido ou vazio.</p>
                                      {% endif %}
                                  </td>
                                  <td>
                                      <!-- Botão para lançar a nota -->
                                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ aluno.id }}">
                                          Lançar Nota
                                      </button>
                                  </td>
                    
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  
      {% for aluno in alunos_relacionados %}
      <div class="modal fade" id="exampleModal{{ aluno.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Lançar Nota para {{ aluno.nome }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <!-- Formulário para lançar a nota -->
                      <form method="post">
                          {% csrf_token %}
                          <div class="mb-3">
                              <label for="disciplina" class="form-label">Disciplina:</label>
                              <select name="disciplina" id="disciplina" class="form-select" required>
                                  <option value="" disabled selected>Selecione a Disciplina</option>
                                  {% for disciplina in disciplinas %}
                                      <option value="{{ disciplina.disciplina.id }}">{{ disciplina.disciplina.nome }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                          <div class="mb-3">
                              <label for="trimestre" class="form-label">Trimestre:</label>
                              <select name="trimestre" id="trimestre" class="form-select" required>
                                  <option value="" disabled selected>Selecione o Trimestre</option>
                                  {% for choice in trimestre_choices %}
                                      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                          <div class="mb-3">
                              <label for="tipo_prova" class="form-label">Tipo de Prova:</label>
                              <select name="tipo_prova" id="tipo_prova" class="form-select" required>
                                  <option value="" disabled selected>Selecione o Tipo de Prova</option>
                                  {% for choice in tipo_prova_choices %}
                                      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                          <div class="mb-3">
                              <label for="nota" class="form-label">Nota:</label>
                              <input type="number" id="nota" name="nota" min="0" max="10" step="0.01" class="form-control" required>
                          </div>
                          <button type="submit" class="btn btn-primary">Salvar Nota</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}

    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>LibroOrario</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://libroorario.netlify.app/">LibroOrario</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src={% static "assets/vendor/apexcharts/apexcharts.min.js" %}></script>
  <script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
  <script src={% static "assets/vendor/chart.js/chart.umd.js" %}></script>
  <script src={% static "assets/vendor/echarts/echarts.min.js" %}></script>
  <script src={% static "assets/vendor/quill/quill.min.js" %}></script>
  <script src={% static "assets/vendor/simple-datatables/simple-datatables.js" %}></script>
  <script src={% static "assets/vendor/tinymce/tinymce.min.js" %}></script>
  <script src={% static "assets/vendor/php-email-form/validate.js" %}></script>

  <!-- Template Main JS File -->
  <script src={% static "assets/js/main.js" %}></script>
  <script>

    const currentMonth = new Date().toLocaleString('pt-pt', { month: 'long' });
    document.getElementById('current-month').textContent = currentMonth;
    
    const currentMonthIndex = new Date().getMonth();
    const monthsLeft = 12 - currentMonthIndex - 1;
    document.getElementById('months-left').textContent = monthsLeft;
    
    const monthList = document.getElementById('month-list');
    for (let i = currentMonthIndex + 1; i < 12; i++) {
      const month = new Date(1900, i, 1).toLocaleString('pt-br', { month: 'long' });
      const listItem = document.createElement('li');
      listItem.textContent = month;
      monthList.appendChild(listItem);
    }
   
        $(document).ready(function () {
            $('#carouselExample').carousel();
        });

    
</script>
<script>
  // Função para inicializar o contador
  function iniciarContador() {
      // Inicia o contador a partir de 1
      let contador = 1;

      // Seleciona todas as células da primeira coluna da tabela
      let numeroAlunoCells = document.querySelectorAll("#dataTable tbody tr td:first-child");

      // Percorre todas as células da primeira coluna
      numeroAlunoCells.forEach(function(cell) {
          // Define o texto da célula como o valor do contador
          cell.textContent = contador;
          // Incrementa o contador para o próximo aluno
          contador++;
      });
  }

  // Chama a função para iniciar o contador quando a página for carregada
  window.onload = iniciarContador;
</script>

</body>

</html>

{% comment %} 
<div class="container-fluid">
    <div class="card-body">
      <h2>Turmas do Professor</h2>
      <div class="card-deck">
        {% for turma in professor.turmas_associadas.all %}
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ turma.nome }}</h5>
              <!-- Adicione mais informações da turma aqui, se necessário -->
              <a href="{% url 'detalhes_turma' turma.id %}" class="btn btn-primary">Detalhes</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <h2>Registrar Presença</h2>
  <form method="post" action="">
    {% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <th>Aluno</th>
          <th>Presença</th>
        </tr>
      </thead>
      <tbody>
        {% for aluno in turma.alunos.all %}
          <tr>
            <td>{{ aluno.nome }}</td>
            <td>
              <input type="checkbox" name="aluno_{{ aluno.id }}">
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Registrar Presenças</button>
  </form>
{% endblock %}

             {% endcomment %}



{% comment %} <div class="container-fluid">

<!-- /.container-fluid -->

</div> {% endcomment %}
