{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LibroOrario</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'img/lg1.png' %}" rel="icon">
</head>

    <body class="bg-gradient-primary">


        <div class="container">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <img src="{% static 'img/logo.png' %}" alt="Logo LibroOrario" class="img-fluid mb-4">
                                    <h1 class="h4 text-gray-900 mb-4">Olá! Bem-vindo ao LibroOrario</h1>
                                </div>
                                <br>
                                <br>
                                <form class="user">
        
                                    <a class="btn btn-primary btn-user btn-block">
                                        Diga-nos quem és!!
                                    </a>
                                    <hr>
                                    <a user_type="professor" href="{% url 'prof' %}" class="btn btn-google btn-user btn-block">
                                        <i class="fa fa-chalkboard-teacher"></i> Sou Professor!
                                    </a>
                                    <a href="{% url 'encarregado' %}" user_type="encarregado" class="btn btn-facebook btn-user btn-block">
                                        <i class="fa fa-user-tie"></i> Sou Encarregado!
                                    </a>    
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Alguma dúvida?</a>
                                </div>
                               
                            </div>
                        </div>
        
                        <div class="col-lg-5 d-none d-lg-block">
                            <img src="{% static 'img/10046248.jpg' %}" alt="Imagem Escolar" class="img-fluid" style="max-width: 700px; max-height: 800px;">
                        </div>
                        
        
                    </div>
                </div>
            </div>
        
        </div>
        
    
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>