<section class="section"> 
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Registre Suas Presenças na Disciplina de: <h4 class="badge bg-warning">{{disciplinaData.disciplina.nome}}</h4> </h6>
        </div>
        <div class="container">
          <h2 class="mt-5 mb-4">Lançar Notas para Avaliação</h2>
          <div class="card-body">
              <div class="table-responsive">
  
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                          <tr>
                              <th>Numro do Aluno</th>
                              <th>Nome do Aluno</th>
                              <th>Idade</th>
                              <th>Sexo</th>
                              <th>Encarregado</th>
                              <th>Numero</th>
                              <th>Detalhes</th>
                              <th>Lançar Nota</th>  <!-- Nova coluna para o botão de lançar nota -->
                              <th>Presença</th>
                          </tr>
                      </thead>
                      
                      <tbody>
                          {% for aluno in alunos_relacionados %}
                              <tr>
                                  <td>{{ aluno.id }}</td>
                                  <td>{{ aluno.nome }}</td>
                                  <td>{{ aluno.data_nascimento }}</td>
                                  <td>{{ aluno.sexo }}</td>
                                  <td>{{ aluno.encarregado_nome }}</td>
                                  <td>{{ aluno.encarregado_numero }}</td>
                                  <td>
                                      {% if aluno.id %}
                                          <a href="{% url 'detalhes_aluno' aluno.id %}">Detalhes do Aluno</a>
                                      {% else %}
                                          <p>ID do aluno inválido ou vazio.</p>
                                      {% endif %}
                                  </td>
                                  <td>
                                      <!-- Botão para lançar a nota -->
                                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ aluno.id }}">
                                          Lançar Nota
                                      </button>
                                  </td>
                                  <td>
                                      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#smallModal">
                                          <i class="fas fa-check"></i>
                                      </button>
                                      <button type="button" class="btn btn-danger">
                                          <i class="fas fa-times"></i>
                                      </button>
                                  </td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  
      {% for aluno in alunos_relacionados %}
      <div class="modal fade" id="exampleModal{{ aluno.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Lançar Nota para {{ aluno.nome }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <!-- Formulário para lançar a nota -->
                      <form method="post">
                          {% csrf_token %}
                          <div class="mb-3">
                              <label for="disciplina" class="form-label">Disciplina:</label>
                              <select name="disciplina" id="disciplina" class="form-select" required>
                                  <option value="" disabled selected>Selecione a Disciplina</option>
                                  {% for disciplina in disciplinas %}
                                      <option value="{{ disciplina.disciplina.id }}">{{ disciplina.disciplina.nome }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                          <div class="mb-3">
                              <label for="trimestre" class="form-label">Trimestre:</label>
                              <select name="trimestre" id="trimestre" class="form-select" required>
                                  <option value="" disabled selected>Selecione o Trimestre</option>
                                  {% for choice in trimestre_choices %}
                                      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                          <div class="mb-3">
                              <label for="tipo_prova" class="form-label">Tipo de Prova:</label>
                              <select name="tipo_prova" id="tipo_prova" class="form-select" required>
                                  <option value="" disabled selected>Selecione o Tipo de Prova</option>
                                  {% for choice in tipo_prova_choices %}
                                      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                          <div class="mb-3">
                              <label for="nota" class="form-label">Nota:</label>
                              <input type="number" id="nota" name="nota" min="0" max="10" step="0.01" class="form-control" required>
                          </div>
                          <button type="submit" class="btn btn-primary">Salvar Nota</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
      


  <div class="modal fade" id="smallModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Registrar Presença</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  --
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Marcar Presença</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Turma: {{ turma }}</h2>
    <h3 class="mt-4 mb-3">Horários:</h3>
    <ul class="list-group">
        {% for horario in horarios %}
            <li class="list-group-item">
                <strong>Disciplina:</strong> {{ horario.disciplina }} <br>
                <strong>Dia da semana:</strong> {{ horario.dia_semana }} <br>
                <strong>Hora de início:</strong> {{ horario.hora_inicio }} <br>
                <strong>Hora de término:</strong> {{ horario.hora_termino }} <br>
                <strong>Sala de aula:</strong> {{ horario.sala_aula }} <br>
            </li>
        {% endfor %}
    </ul>
</div>
{% if aula_atual %}
  <h2>Aula em andamento: {{ aula_atual.nome }}</h2>
  <a href="{% url 'detalhes_aula' aula_atual.id %}" class="btn btn-primary">Ver aula</a>
{% else %}
  <h1>Não há aulas em andamento</h1>
  <form action="{% url 'iniciar_aula' %}" method="post">
    <select name="disciplina" id="disciplina">
      <option value="">Selecione a disciplina</option>
      {% for disciplina in disciplinas %}
        <option value="{{ disciplina.id }}">{{ disciplina.disciplina.nome }}</option>
      {% endfor %}
    </select>
    <a href="{% url 'iniciar_aula' %}">Iniciar Aula</a>
    <button type="submit" class="btn btn-success">Iniciar aula</button>
  </form>
{% endif %}
<h2>Aulas do Professor</h2>

<ul>
  {% if aula_atual %}
  <h2>Aula em andamento: {{ aula_atual.nome }}</h2>
  <a href="{% url 'detalhes_aula' aula_atual.id %}" class="btn btn-primary">Ver aula</a>
{% endif %}

    </section>